
import styles from './{{pascalCase name}}.module.css';

export interface I{{pascalCase name}} extends React.ComponentPropsWithoutRef<''>{}

const {{pascalCase name}}: React.FC<I{{pascalCase name}}> = ({className, ...buttonProps}) => {
  return <div {...buttonProps} className={`${className}`}></div>;
};

export default {{pascalCase name}};