
import styles from './{{pascalCase name}}.module.css';

export interface I{{pascalCase name}} {

}

const {{pascalCase name}}: React.FC<I{{pascalCase name}}> = () => {
  return <div className={styles.container}></div>;
};

export default {{pascalCase name}};